/* src/components/header/header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #1a1a2e;
  border-bottom: 2px solid #16213e;
}

.logo img {
  height: 50px;
}

.profile-menu img {
  height: 50px;
  width: 50px;
}

.header-right {
  display: flex;
  align-items: center;
}

.profile-menu {
  position: relative;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-picture:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.profile-dropdown {
  position: absolute;
  top: 60px; /* Смещаем ниже из-за высоты изображения */
  right: 0;
  background-color: #e0e0e0;
  color: #1a1a2e;
  border: 1px solid #ccc;
  min-width: 200px;
  z-index: 1;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.user-info p {
  margin: 5px 0;
  font-size: 14px;
}

.logout-button {
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  color: #1a1a2e;
  font-size: 16px;
}

.logout-button:hover {
  background-color: #cfcfcf;
}
